---
import MainLayout from "@layouts/MainLayout.astro";
import ButtonLink from "src/components/ButtonLink.astro";
import Pagination from "src/components/Pagination.astro";
import { getCollection } from "astro:content";
import { Image } from 'astro:assets';

const STRAPI_BASE_URL = import.meta.env.STRAPI_BASE_URL || "https://api.brix-ia.com";

// Recupera tutti i post
const allPosts = await getCollection("strapiPostsLoader");

// Configura il numero di post per pagina
const postsPerPage = 6;

// Recupera il parametro della pagina dalla query string, se presente (default: 1)
// Se preferisci usare un parametro di route (es. [page].astro) usa Astro.params.page
const currentPage = Number(Astro.url.searchParams.get('page')) || 1;

// Calcola il numero totale di pagine
const totalPages = Math.ceil(allPosts.length / postsPerPage);

// Seleziona i post da mostrare in base alla pagina corrente
const strapiPosts = allPosts.slice((currentPage - 1) * postsPerPage, currentPage * postsPerPage);
---

<MainLayout title="Strapi Blog">
  <section class="container mx-auto px-4 py-8">
    <!-- Titolo distanziato di 100px dall'alto per non intersecare la navbar -->
    <h1 class="text-4xl font-bold mb-6 mt-[100px]">Guide e News</h1>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {strapiPosts.map((post) => {
        const { title, description, slug, cover } = post.data;
        const imageUrl = STRAPI_BASE_URL + (
          cover === null
            ? '/uploads/Visual_Birxia_64749c8600.jpg'
            : cover.url
        );
        return (
        <div class="bg-primary rounded-xl shadow-md overflow-hidden hover:shadow-lg transition-shadow duration-300 flex flex-col">
          <Image
            src={imageUrl}
            alt={title}
            width={444}
            height={250}
            class="w-full h-40 object-cover rounded-t-lg"
          />
          {/* Uso flex-col e flex-1 per far espandere quest'area */}
          <div class="p-6 flex flex-col flex-1">
            <h2 class="text-2xl font-bold mb-2 text-white">{title}</h2>
            <p class="text-secondary mb-4 flex-grow">{description}</p>
            {/* Aggiungendo mt-auto il bottone verrà spinto in fondo */}
            <ButtonLink 
              href={`/blog/${slug}`} 
              class="bg-accent hover:bg-green-600 text-dark self-end w-auto ml-[5px]"
            >
              Continua a leggere →
            </ButtonLink>
          </div>
        </div>
        )
      })}
    </div>

    {/* Se ci sono più di una pagina, mostra il componente di paginazione */}
    {totalPages > 1 && (
      <div class="mt-8">
        <Pagination currentPage={currentPage} totalPages={totalPages} baseUrl="/strapi-blog" />
      </div>
    )}
  </section>
</MainLayout>
