---
import MainLayout from "@layouts/MainLayout.astro";
import ButtonLink from "@components/ButtonLink.astro";
import "../themes/dark.css";
import Hero from "@components/blocks/Hero.astro";
import FeaturesCard from "@components/blocks/FeaturesCard.astro";
import BigCard from "@/components/blocks/BigCard.astro";
import FAQ from "@components/blocks/FAQ.astro";
import { getEntry } from "astro:content";

interface FeaturesCardData {
  title: string;
  subtitle?: string;
  link: string;
  image: string;
  badgeText: string;
  badgeColor?: string;
  iconLink?: string;
  footerText?: string;
}

const { data } = await getEntry("pagedata", "landing");
const { title, content } = data.landingPageData;
const featuresCards = content.featuresCards as FeaturesCardData[];
const bigCardTest = content.bigCard;
const bigCardDue = content.bigCard2;
const faqData = content.faq;
---

<MainLayout 
  title={title} 
  description="Brix-IA: il portale della community di Brescia sull'Intelligenza Artificiale - Notizie, Guide, prompt, Case Study e Formazione AI"
  canonical="https://brix-ia.com"
  ogImage="https://api.brix-ia.com/uploads/Brix_IA_Home_Page_d06dbc5925.jpg"
>
  <Hero />
  <!-- Sezione Evento -->
  <div class="flex justify-center items-center mt-8 py-4 px-4">
    <a href="https://www.eventbrite.it/e/biglietti-iii-incontro-brix-ia-meet-up-teoria-e-pratica-1252767634719" target="_blank" rel="noopener noreferrer">
      <img src="https://api.brix-ia.com/uploads/Brix_IA_III_meetup_b0afe07385.webp" alt="III Incontro Brix-IA Meet-Up Teoria e Pratica" class="rounded-xl">
    </a>
  </div>  

  <!-- Sezione Features Cards -->
  <section class="py-16">
    <div class="container mx-auto px-4">
      <h2 class="text-3xl font-bold text-center text-[var(--color-accent)] m-8">
        Scopri la Community di Brix-IA
      </h2>
      <div class="flex flex-wrap justify-center gap-6">
        {featuresCards.map((feature: FeaturesCardData) => (
          <FeaturesCard {...feature} />
        ))}
      </div>
    </div>
  </section>

  <!-- Sezione BigCard -->
  <BigCard
    title={bigCardTest.title}
    subtitle={bigCardTest.subtitle}
    description={bigCardTest.description}
    cta={bigCardTest.cta}
    image={bigCardTest.image}
    imagePosition={bigCardTest.imagePosition}
  />

  <div class="h-[50px]"></div>

  <BigCard
    title={bigCardDue.title}
    subtitle={bigCardDue.subtitle}
    description={bigCardDue.description}
    cta={bigCardDue.cta}
    image={bigCardDue.image}
    imagePosition={bigCardDue.imagePosition}
  />

  <div>
    <h2 class="text-3xl font-bold text-center text-[var(--color-accent)] m-8">
      FAQ – Brix-IA: La community di Brescia per l’Intelligenza Artificiale
    </h2>
  </div>

  <!-- Sezione FAQ -->
  <FAQ faq={faqData} />
</MainLayout>
